<template>
     <!-- <div id="pricingpage">
     
    
        <input type="text" v-model="cost">
         <input type="text" v-model="markup">
           <h1 v-if="errors" >{{errors}}</h1>
            <h1 >{{profit}}</h1>
         <button v-on:click="sample" class="btn">Calculate profit</button>
        
         
    </div>  -->
    <!-- <v-app> -->
    <!-- <div> -->
    <v-card class="mx-auto pa-5 mt-6" width="800px"  >
    <v-container  class="" >
    <v-row>
    <v-text-field  class="px-8" label="cost" outlined v-model="cost"  ></v-text-field>
    <v-text-field class="px-8" label="markup%" outlined v-model="markup" ></v-text-field>
    </v-row>
    <v-row justify="end">
    <a class="px-6 pt-2" v-on:click="reset">reset</a>
    <v-btn  v-on:click="sample" color="#5c6ac4" class="mr-8 white--text text-capitalize" depressed>Calculate profit</v-btn></v-row>
     </v-container>
      
      <div  class="mx-auto pa-5 text-center" width="800px" >
      <v-row >
    <v-col cols="12" sm="12" md="4">
    <h4 class="mx-auto text-center pa-3">Your sale price</h4><p  class="mx-auto" v-if="sale_price">{{sale_price}}</p><p v-else>-</p>
    </v-col>
    <v-col cols="12" sm="12" md="3">
   <h4 class="mx-auto text-center pa-3"> Your profit</h4><p v-if="profit">{{profit}}</p><p v-else>-</p>
    </v-col> <v-col cols="12" sm="12" md="4">
    <h4 class="mx-auto text-center pa-3"> Gross margin</h4><p v-if="gross_margin">{{gross_margin}}</p><p v-else>-</p>
    </v-col>
     </v-row>
    </div>
    
    
    </v-card>
  
 

</template>


<script>
import axios from 'axios';

export default {
      name:'PostCalculator',
      data(){
        return{
          profit:'',
          cost:'',
          markup:'',
          errors:'',
          rules1:[],rules2:[]
        };
      },
      methods:{
                 sample: function(){
                
               
                   
                  const res= axios.post("http://localhost:5000/api/posts",{cost1: this.cost,markup1:this.markup});
       
                   var promise= Promise.resolve(res);
                   promise.then((result)=>{console.log(result);
                   console.log(result.data); 
                   this.profit=result.data.profit; 
                   this.gross_margin=result.data.gross_margin;
                   this.sale_price=result.data.sale_price; 
                   })
                   
     
      //  console.log(promise)
  // promise.then(function(result){
  //     // console.log(result);
  //       // console.log(result.data);
  //         //  var message=result.data;
  //         //  console.log(message)
        
  //       } )

      
     },  reset : function(){
       this.cost='';
       this.markup='';
       this.profit='';
       this.sale_price='';
       this.gross_margin='';

      }
      

      },
     



}
</script>

<style scoped>

.btn{
  width: 150px;
  height: 35px;
  color: #ffff;
  background-color:rgb(132, 119, 175) ;
  border-style: none;
  border-radius: 5px;
}

 
</style>