<template>
  <v-app>


    <v-main>
    
      <PricingCalculator/>
    </v-main>
  </v-app>
</template>

<script>
// import HelloWorld from './components/HelloWorld';
import PricingCalculator from './components/PricingCalculator';

export default {
  name: 'App',

  components: {
    PricingCalculator
  },

  data: () => ({
    //
  }),
};
</script>
